.collection a {
    text-overflow: ellipsis;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
}

footer {
    display: table-row;
    height: 100px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.global-status {
    font-size: 1.5rem;
    padding: 1rem .5rem;
    line-height: 24px;
}


.components-status {
    margin-top: 15px;
    padding: 5px;
}

.material-icons, .icon-text {
    display: inline-flex;
    vertical-align: top;
}

.material-icons.tooltipped {
    cursor: pointer;
}

.timeline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timeline-incident {
    list-style: none;
    border-left: 2px solid #e1e4e8;
    margin-left: .5rem;
    position: relative;
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
}

.timeline-incident:last-child {
    border-color: transparent;
}

.timeline-incident:before {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #6a737d;
    position: absolute;
    border-radius: 9999px;
    z-index: 10;
    background-color: #fff;
    content: " ";
    left: -12px;
    top: 0;
}

.timeline-incident-green:before {
    border-color: #6a737d;
}

.timeline-incident-purple:before {
    border-color: #9c27b0;
}

.timeline-incident-deep-orange:before {
    border-color: #ff5722;
}

.timeline-incident-grey:before {
    border-color: #212121;
}

.timeline-incident-red:before {
    border-color: #F44336;
}

.timeline-incident-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.timeline-incident-body {
    padding-bottom: .5rem;
}

.timeline-incident-body .message {
    color: #6a737d;
}

.incident {
    padding: 10px;
    margin-bottom: 20px;
}

.badge {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.incident .incident-title h5 {
    line-height: 20px;
}

.incident .incident-state-details {
    line-height: 15px;
}

.incident-state-details {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.incident-main-message {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.incident-updates {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.incident .incident-title .badge {
    margin-right: 5px;
}

time.human {
    text-decoration: underline dotted;
    cursor: help;
}

.sidenav li > a {
    color: white;
}

.admin-container {
    padding-left: 185px;
}

.admin-container .collection .collection-item.avatar {
    padding: 10px 20px;
}

.admin-container .collection .collection-item .badge {
    float: none;
    margin-left: 0;
}

.admin-container .collection .collection-item .secondary-content {
    float: right;
    position: initial;
    margin-left: 5px;
}

.admin-container .head {
    margin-bottom: 50px;
}

.admin-container .chips-components {
    margin-top: 0;
}

.admin-container [type="radio"]:checked + span,
.admin-container [type="radio"]:not(:checked) + span {
    padding-left: 25px;
    margin-right: 10px;
}

.mark-as-btn {
    width: 115px;
}

.preloader-wrapper.preload-btn {
    width: 14px;
    height: 14px;
}

.markdown ul,
.markdown ol,
.markdown ul > li,
.markdown ol > li {
    list-style: initial;
}

.markdown [type="checkbox"]:not(:checked),
.markdown [type="checkbox"]:checked {
    position: initial;
    top: initial;
    opacity: initial;
}

.modal-with-tabs {
    width: 75%;
    height: 80%;
}

.modal-with-tabs .tabs-vertical .col-modal-tabs {
    width: 25%;
}

.modal-with-tabs .tabs-vertical .col-modal-content {
    width: 74%;
}

.modal-with-tabs a.tab-no-border {
    border-right: none;
}

.incident-item.avatar {
    position: initial !important;
}

.details-date {
    font-size: .7rem;
}

.chips .input {
    width: 170px !important;
}

.incident-main-message ul {
    padding-left: initial;
    list-style-type: initial;
}

.incident-main-message ul > li {
    list-style-type: disc;
}

.incident-main-message ul ul > li {
    list-style-type: circle;
}

.incident-main-message ul ul ul > li {
    list-style-type: square;
}

.incident-main-message .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.incident-main-message .anchor {
    float: left;
    line-height: 1;
    margin-left: -20px;
    padding-right: 4px;
}

.incident-main-message .anchor:focus {
    outline: none;
}

.incident-main-message h1 .octicon-link,
.incident-main-message h2 .octicon-link,
.incident-main-message h3 .octicon-link,
.incident-main-message h4 .octicon-link,
.incident-main-message h5 .octicon-link,
.incident-main-message h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.incident-main-message h1:hover .anchor,
.incident-main-message h2:hover .anchor,
.incident-main-message h3:hover .anchor,
.incident-main-message h4:hover .anchor,
.incident-main-message h5:hover .anchor,
.incident-main-message h6:hover .anchor {
    text-decoration: none;
}

.incident-main-message h1:hover .anchor .octicon-link,
.incident-main-message h2:hover .anchor .octicon-link,
.incident-main-message h3:hover .anchor .octicon-link,
.incident-main-message h4:hover .anchor .octicon-link,
.incident-main-message h5:hover .anchor .octicon-link,
.incident-main-message h6:hover .anchor .octicon-link {
    visibility: visible;
}

.incident-main-message h1:hover .anchor .octicon-link:before,
.incident-main-message h2:hover .anchor .octicon-link:before,
.incident-main-message h3:hover .anchor .octicon-link:before,
.incident-main-message h4:hover .anchor .octicon-link:before,
.incident-main-message h5:hover .anchor .octicon-link:before,
.incident-main-message h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}

.incident-main-message {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.incident-main-message details {
    display: block;
}

.incident-main-message summary {
    display: list-item;
}

.incident-main-message a {
    background-color: initial;
}

.incident-main-message a:active,
.incident-main-message a:hover {
    outline-width: 0;
}

.incident-main-message strong {
    font-weight: inherit;
    font-weight: bolder;
}

.incident-main-message h1 {
    font-size: 2em;
    margin: .67em 0;
}

.incident-main-message img {
    border-style: none;
}

.incident-main-message code,
.incident-main-message kbd,
.incident-main-message pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.incident-main-message hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
}

.incident-main-message input {
    font: inherit;
    margin: 0;
}

.incident-main-message input {
    overflow: visible;
}

.incident-main-message [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.incident-main-message * {
    box-sizing: border-box;
}

.incident-main-message input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.incident-main-message a {
    color: #0366d6;
    text-decoration: none;
}

.incident-main-message a:hover {
    text-decoration: underline;
}

.incident-main-message strong {
    font-weight: 600;
}

.incident-main-message hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
}

.incident-main-message hr:after,
.incident-main-message hr:before {
    display: table;
    content: "";
}

.incident-main-message hr:after {
    clear: both;
}

.incident-main-message table {
    border-spacing: 0;
    border-collapse: collapse;
}

.incident-main-message td,
.incident-main-message th {
    padding: 0;
}

.incident-main-message details summary {
    cursor: pointer;
}

.incident-main-message kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
}

.incident-main-message h1,
.incident-main-message h2,
.incident-main-message h3,
.incident-main-message h4,
.incident-main-message h5,
.incident-main-message h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.incident-main-message h1 {
    font-size: 32px;
}

.incident-main-message h1,
.incident-main-message h2 {
    font-weight: 600;
}

.incident-main-message h2 {
    font-size: 24px;
}

.incident-main-message h3 {
    font-size: 20px;
}

.incident-main-message h3,
.incident-main-message h4 {
    font-weight: 600;
}

.incident-main-message h4 {
    font-size: 16px;
}

.incident-main-message h5 {
    font-size: 14px;
}

.incident-main-message h5,
.incident-main-message h6 {
    font-weight: 600;
}

.incident-main-message h6 {
    font-size: 12px;
}

.incident-main-message p {
    margin-top: 0;
    margin-bottom: 10px;
}

.incident-main-message blockquote {
    margin: 0;
}

.incident-main-message ol,
.incident-main-message ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.incident-main-message ol ol,
.incident-main-message ul ol {
    list-style-type: lower-roman;
}

.incident-main-message ol ol ol,
.incident-main-message ol ul ol,
.incident-main-message ul ol ol,
.incident-main-message ul ul ol {
    list-style-type: lower-alpha;
}

.incident-main-message dd {
    margin-left: 0;
}

.incident-main-message code,
.incident-main-message pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
}

.incident-main-message pre {
    margin-top: 0;
    margin-bottom: 0;
}

.incident-main-message input::-webkit-inner-spin-button,
.incident-main-message input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.incident-main-message :checked + .radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
}

.incident-main-message .border {
    border: 1px solid #e1e4e8 !important;
}

.incident-main-message .border-0 {
    border: 0 !important;
}

.incident-main-message .border-bottom {
    border-bottom: 1px solid #e1e4e8 !important;
}

.incident-main-message .rounded-1 {
    border-radius: 3px !important;
}

.incident-main-message .bg-white {
    background-color: #fff !important;
}

.incident-main-message .bg-gray-light {
    background-color: #fafbfc !important;
}

.incident-main-message .text-gray-light {
    color: #6a737d !important;
}

.incident-main-message .mb-0 {
    margin-bottom: 0 !important;
}

.incident-main-message .my-2 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.incident-main-message .pl-0 {
    padding-left: 0 !important;
}

.incident-main-message .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.incident-main-message .pl-1 {
    padding-left: 4px !important;
}

.incident-main-message .pl-2 {
    padding-left: 8px !important;
}

.incident-main-message .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.incident-main-message .pl-3,
.incident-main-message .px-3 {
    padding-left: 16px !important;
}

.incident-main-message .px-3 {
    padding-right: 16px !important;
}

.incident-main-message .pl-4 {
    padding-left: 24px !important;
}

.incident-main-message .pl-5 {
    padding-left: 32px !important;
}

.incident-main-message .pl-6 {
    padding-left: 40px !important;
}

.incident-main-message .f6 {
    font-size: 12px !important;
}

.incident-main-message .lh-condensed {
    line-height: 1.25 !important;
}

.incident-main-message .text-bold {
    font-weight: 600 !important;
}

.incident-main-message .pl-c {
    color: #6a737d;
}

.incident-main-message .pl-c1,
.incident-main-message .pl-s .pl-v {
    color: #005cc5;
}

.incident-main-message .pl-e,
.incident-main-message .pl-en {
    color: #6f42c1;
}

.incident-main-message .pl-s .pl-s1,
.incident-main-message .pl-smi {
    color: #24292e;
}

.incident-main-message .pl-ent {
    color: #22863a;
}

.incident-main-message .pl-k {
    color: #d73a49;
}

.incident-main-message .pl-pds,
.incident-main-message .pl-s,
.incident-main-message .pl-s .pl-pse .pl-s1,
.incident-main-message .pl-sr,
.incident-main-message .pl-sr .pl-cce,
.incident-main-message .pl-sr .pl-sra,
.incident-main-message .pl-sr .pl-sre {
    color: #032f62;
}

.incident-main-message .pl-smw,
.incident-main-message .pl-v {
    color: #e36209;
}

.incident-main-message .pl-bu {
    color: #b31d28;
}

.incident-main-message .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
}

.incident-main-message .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
}

.incident-main-message .pl-c2:before {
    content: "^M";
}

.incident-main-message .pl-sr .pl-cce {
    font-weight: 700;
    color: #22863a;
}

.incident-main-message .pl-ml {
    color: #735c0f;
}

.incident-main-message .pl-mh,
.incident-main-message .pl-mh .pl-en,
.incident-main-message .pl-ms {
    font-weight: 700;
    color: #005cc5;
}

.incident-main-message .pl-mi {
    font-style: italic;
    color: #24292e;
}

.incident-main-message .pl-mb {
    font-weight: 700;
    color: #24292e;
}

.incident-main-message .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
}

.incident-main-message .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
}

.incident-main-message .pl-mc {
    color: #e36209;
    background-color: #ffebda;
}

.incident-main-message .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
}

.incident-main-message .pl-mdr {
    font-weight: 700;
    color: #6f42c1;
}

.incident-main-message .pl-ba {
    color: #586069;
}

.incident-main-message .pl-sg {
    color: #959da5;
}

.incident-main-message .pl-corl {
    text-decoration: underline;
    color: #032f62;
}

.incident-main-message .mb-0 {
    margin-bottom: 0 !important;
}

.incident-main-message .my-2 {
    margin-bottom: 8px !important;
}

.incident-main-message .my-2 {
    margin-top: 8px !important;
}

.incident-main-message .pl-0 {
    padding-left: 0 !important;
}

.incident-main-message .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.incident-main-message .pl-1 {
    padding-left: 4px !important;
}

.incident-main-message .pl-2 {
    padding-left: 8px !important;
}

.incident-main-message .py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.incident-main-message .pl-3 {
    padding-left: 16px !important;
}

.incident-main-message .pl-4 {
    padding-left: 24px !important;
}

.incident-main-message .pl-5 {
    padding-left: 32px !important;
}

.incident-main-message .pl-6 {
    padding-left: 40px !important;
}

.incident-main-message .pl-7 {
    padding-left: 48px !important;
}

.incident-main-message .pl-8 {
    padding-left: 64px !important;
}

.incident-main-message .pl-9 {
    padding-left: 80px !important;
}

.incident-main-message .pl-10 {
    padding-left: 96px !important;
}

.incident-main-message .pl-11 {
    padding-left: 112px !important;
}

.incident-main-message .pl-12 {
    padding-left: 128px !important;
}

.incident-main-message hr {
    border-bottom-color: #eee;
}

.incident-main-message kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
}

.incident-main-message:after,
.incident-main-message:before {
    display: table;
    content: "";
}

.incident-main-message:after {
    clear: both;
}

.incident-main-message > :first-child {
    margin-top: 0 !important;
}

.incident-main-message > :last-child {
    margin-bottom: 0 !important;
}

.incident-main-message a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.incident-main-message blockquote,
.incident-main-message details,
.incident-main-message dl,
.incident-main-message ol,
.incident-main-message p,
.incident-main-message pre,
.incident-main-message table,
.incident-main-message ul {
    margin-top: 0;
    margin-bottom: 16px;
}

.incident-main-message hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.incident-main-message blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

.incident-main-message blockquote > :first-child {
    margin-top: 0;
}

.incident-main-message blockquote > :last-child {
    margin-bottom: 0;
}

.incident-main-message h1,
.incident-main-message h2,
.incident-main-message h3,
.incident-main-message h4,
.incident-main-message h5,
.incident-main-message h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.incident-main-message h1 {
    font-size: 2em;
}

.incident-main-message h1,
.incident-main-message h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

.incident-main-message h2 {
    font-size: 1.5em;
}

.incident-main-message h3 {
    font-size: 1.25em;
}

.incident-main-message h4 {
    font-size: 1em;
}

.incident-main-message h5 {
    font-size: .875em;
}

.incident-main-message h6 {
    font-size: .85em;
    color: #6a737d;
}

.incident-main-message ol,
.incident-main-message ul {
    padding-left: 2em;
}

.incident-main-message ol ol,
.incident-main-message ol ul,
.incident-main-message ul ol,
.incident-main-message ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.incident-main-message li {
    word-wrap: break-all;
}

.incident-main-message li > p {
    margin-top: 16px;
}

.incident-main-message li + li {
    margin-top: .25em;
}

.incident-main-message dl {
    padding: 0;
}

.incident-main-message dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.incident-main-message dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.incident-main-message table {
    display: block;
    width: 100%;
    overflow: auto;
}

.incident-main-message table th {
    font-weight: 600;
}

.incident-main-message table td,
.incident-main-message table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.incident-main-message table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.incident-main-message table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.incident-main-message img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
}

.incident-main-message img[align=right] {
    padding-left: 20px;
}

.incident-main-message img[align=left] {
    padding-right: 20px;
}

.incident-main-message code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, .05);
    border-radius: 3px;
}

.incident-main-message pre {
    word-wrap: normal;
}

.incident-main-message pre > code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.incident-main-message .highlight {
    margin-bottom: 16px;
}

.incident-main-message .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.incident-main-message .highlight pre,
.incident-main-message pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.incident-main-message pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
}

.incident-main-message .commit-tease-sha {
    display: inline-block;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 90%;
    color: #444d56;
}

.incident-main-message .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
}

.incident-main-message .blob-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.incident-main-message .blob-wrapper-embedded {
    max-height: 240px;
    overflow-y: auto;
}

.incident-main-message .blob-num {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    line-height: 20px;
    color: rgba(27, 31, 35, .3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.incident-main-message .blob-num:hover {
    color: rgba(27, 31, 35, .6);
}

.incident-main-message .blob-num:before {
    content: attr(data-line-number);
}

.incident-main-message .blob-code {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 20px;
    vertical-align: top;
}

.incident-main-message .blob-code-inner {
    overflow: visible;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 12px;
    color: #24292e;
    word-wrap: normal;
    white-space: pre;
}

.incident-main-message .pl-token.active,
.incident-main-message .pl-token:hover {
    cursor: pointer;
    background: #ffea7f;
}

.incident-main-message .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
}

.incident-main-message .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
}

.incident-main-message .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
}

.incident-main-message .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
}

.incident-main-message .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
}

.incident-main-message .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
}

.incident-main-message .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
}

.incident-main-message .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
}

.incident-main-message .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
}

.incident-main-message .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
}

.incident-main-message .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
}

.incident-main-message .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
}

.incident-main-message .task-list-item {
    list-style-type: none;
}

.incident-main-message .task-list-item + .task-list-item {
    margin-top: 3px;
}

.incident-main-message .task-list-item input {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
}

.incident-title .components-badges.float-badges span {
    margin-bottom: 2px;
    margin-top: 2px;
}

.scheduled.incident .incident-main-message {
    position: relative;
}

.scheduled.incident .show-more-button-wrapper {
    width: 100%;
    text-align: center;
}

.scheduled.incident .show-more-button-wrapper .btn {
    display: none;
    position: absolute;
    bottom: -25px;
    z-index: 100;
    text-align: center;
    width: 14%;
    left: 43%;
}

.scheduled.incident .show-more-button-wrapper .btn .line {
    display: inline-block;
    flex-basis: 200px;
    height: 1px;
    margin-top: 12px;
    background-color: rgba(221, 221, 221, 0.1);
}


.scheduled.incident .fade {
    display: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 75%);
    height: 100px;
    margin-top: -100px;
    position: relative;
}


.scheduled.incident .markdown {
    position: relative;
    overflow: hidden;
    transition: max-height .5s ease;
}

.alert-box .content ul {
    padding: revert;
}

.alert-box .content ul > li {
    list-style-type: initial;
}


