{{ extends "index.gohtml" }}
{{ define "content" }}
  <div class="row">
    <div class="col s1"></div>
    <div class="col s10">
        {{ template "incident.gohtml" .Incident }}
    </div>
    <div class="col s1"></div>
  </div>
{{ end }}