{{ extends "index.html" }}
{{ define "content" }}
  <div class="row">
    <div class="col s1"></div>
    <div class="col s10">
      <div class="components-status z-depth-1">
          {{ range $group, $components := .ComponentStatesData}}
              {{ $groupState := index $.GroupComponentState $group }}
              <ul class="collection with-header">
                <li class="collection-header {{ $groupState | colorState }} global-status white-text">
                    {{ if eq $group "" }}Global{{else}}{{$group}}{{end}}
                  <div class="secondary-content white-text">
                      {{ $groupState | textState | title }}
                    <i class="material-icons inline">{{ $groupState | iconState }}</i>
                  </div>
                </li>
                  {{ range $components }}
                    <li class="collection-item grey lighten-4 grey-text">{{ .Name | title }}
                        {{with .Description}}
                          <i class="material-icons tiny tooltipped" data-position="top" data-tooltip="{{ . | title }}">help_outline</i>
                        {{end}}
                      <div class="secondary-content {{ .State |colorState  }}-text">{{ .State | textState | title}}
                        <i class="material-icons inline">{{ .State | iconState }}</i>
                      </div>
                    </li>
                  {{ end }}
              </ul>
          {{end}}

      </div>
    </div>
    <div class="col s1"></div>
  </div>
  {{ with .Scheduled }}
    <div class="row">
      <div class="col s1"></div>
      <div class="col s10">
        <h4>Scheduled Maintenance</h4>
          {{ range . }}
              {{ template "scheduled.html" . }}
          {{end}}
      </div>
      <div class="col s1"></div>
    </div>
  {{ end }}

  <div class="row">
    <div class="col s1"></div>
    <div class="col s10">
      <h4>Latest Incidents</h4>
      <ul class="timeline">
          {{ range .TimelineDates }}
              {{ $incidents := index $.Timeline . }}
              <li class="timeline-incident timeline-incident-{{ $incidents | stateFromIncidents | colorState }}">
                <h3 class="timeline-incident-title">
                  <time>{{ . }}</time>
                </h3>
                <div class="timeline-incident-body">
                    {{ if $incidents }}
                        {{ range $incidents }}
                            {{ template "incident.html" . }}
                        {{end}}
                    {{ else }}
                      <div class="message">
                        No incidents reported.
                      </div>
                    {{ end }}
                </div>
              </li>
          {{ end }}
      </ul>
    </div>
    <div class="col s1"></div>
  </div>
  <div class="row">
    <div class="col s1"></div>
    <div class="col s10 center-align">
      <a class="waves-effect waves-light btn blue lighten-5 black-text" href="/history?all_types=true">
        Incident History
      </a>
    </div>
    <div class="col s1"></div>
  </div>

{{ end }}