<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ block "title" .}}{{.BaseInfo.Title}}{{ end }}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/assets/css/custom.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <div class="brand-logo"><a href="/" class="blue-grey-text">{{ block "logo" .}}{{.BaseInfo.Title}}{{ end }}</a></div>
    <ul class="right hide-on-med-and-down">
      <li><a href="#subscribe" class="waves-effect waves-light btn white black-text modal-trigger">Subscribe</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#subscribe" class="waves-effect waves-light btn white black-text modal-trigger">Subscribe</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div id="subscribe" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">
        <h4 class="center-align">Subscribe to Updates</h4>

        <p class="center-align">Choose from the options below to automatically receive status updates.</p>
        <ul class="tabs modal-tabs">
          <li class="tab col s4"><a class="active" href="#support">Support</a></li>
          <li class="tab col s4"><a class="active" href="#calendar">Calendar</a></li>
          <li class="tab col s4"><a href="#feed">Feed</a></li>
        </ul>
      </div>
      <div id="support" class="col s12 center-align">
        <span>Visit our <a href="{{ .BaseInfo.Support }}" target="_blank" rel="noopener">Support Site</a>.</span>
      </div>
      <div id="calendar" class="col s12 center-align">
        <span>Receive <strong>Scheduled Maintenances</strong> via <a href="webcal://{{ baseUrl.Host }}/cal.ics" target="_blank" rel="noopener">iCalendar</a>.</span>
      </div>
      <div id="feed" class="col s12 center-align">
        <span>
          Get <a href="/atom.xml" target="_blank" rel="noopener">the Atom Feed</a> or
          <a href="/rss.xml" target="_blank" rel="noopener">the RSS Feed</a>.
        </span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>


<div class="container">
  <div class="section">
      {{ block "content" . }}Default content{{ end }}
  </div>
  <br><br>
</div>


<footer class="page-footer white z-depth-4">
  <div class="footer-copyright white">
    <a href="#!" class="container white black-text">
      Statusetat &copy;
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s3">
        <a href="/history?all_types=true" class="container white blue-grey-text">
          History
        </a>
      </div>
      <div class="col s3">
        <a href="{{ .BaseInfo.Support }}" target="_blank" rel="noopener" class="container white blue-grey-text">
          Support
        </a>
      </div>
      <div class="col s3">
        <a href="{{ .BaseInfo.Contact }}" target="_blank" rel="noopener" class="container white blue-grey-text">
          Contact
        </a>
      </div>
      <div class="col s3">
        <a href="/admin/dashboard" class="container white blue-grey-text">
          Admin
        </a>
      </div>
    </div>

  </div>
</footer>


<!--  Scripts-->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/materialize.js"></script>
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/moment-timezone.js"></script>
<script src="/assets/js/init.js"></script>
{{ if not .Timezone }}
  <script type="text/javascript">
      $(document).ready(function () {
          loadTimezone();
      })
  </script>
{{ end }}
</body>
</html>
