
.tabs-vertical {
  .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .tab {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: left;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;

    .with-time {
      line-height: initial;
    }

    li {
      border-right: 1px solid $tabs-underline-color;
    }

    .active {
      -moz-transition: border-color .5s ease;
      -o-transition: border-color .5s ease;
      -webkit-transition: border-color .5s ease;
      transition: border-color .5s ease;
      border-right: 3px solid $tabs-underline-color;
      color: $tabs-text-color;
    }

    :hover {
    }

    a {
      time {
        display: block;
        font-size: 10px;
        width: max-content;
      }

      color: $tabs-text-color;
      display: block;
      width: 100%;
      height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      @include transition(color .28s ease);

      &:hover {
        color: lighten($tabs-text-color, 20%);
      }
    }

    &.disabled a {
      color: lighten($tabs-text-color, 20%);
      cursor: default;
    }
  }

  .indicator {
    display: none;
  }
}
