name: goreleaser

on:
  push:
    # do not consider simple commit
    branches:
      - '!*'
    # consider only release and pre-release tags
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: cache go modules
        uses: actions/cache@v5
        with:
          path: ~/go/pkg/mod
          key: "${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}"
          restore-keys: |
            ${{ runner.os }}-go-

      - name: tests modules
        run: |
          go mod vendor
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "::error::vendor directory if not synced with go.mod, please run go mod vendor"
            exit 1
          fi

          go mod tidy
          if [ ! -z "$(git status --porcelain)" ]; then
            echo "::error::modules are not tidy, please run go mod tidy"
            exit 1
          fi

      - name: tests
        run: |
          go test -v ./...

      - name: run goreleaser
        uses: goreleaser/goreleaser-action@v6
        if: success() && startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USER: github-actions
